.Login_mainDivBox{
 width:100%;
 /* height:100%;
    position:absolute;
    top:0;
     */
   margin-bottom: 0rem;
}
.Login_mainDivBoxFirst{
 width:60%;
 height: 29rem;
 }
.Login_mainDivBoxLogIn{
 width:40%;
 height: 29rem;
 /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px */
 /* background-color: antiquewhite; */ 

}
.Login_mainDivBoxImage{
    margin-top: -3rem;
   height: 32.5rem;
    width: 100%;
    background-color: blueviolet;
   /* border-image-repeat: stretch; */
}
.mainDivBoxLogInLogo{
    width:40%;
   margin-left: 30%;
}
.loginDivLogoBtn{
    width:70%;
    align-items: center;
    margin-bottom: .5rem;
   margin-left:.5rem ;
   color:purple 
}

.loginDivFormName{
    position: relative;
    max-width: 70%;
    margin: 10px auto;
    text-align: center;
  }
  
  .loginDivFormName:before{
    content:" ";
    height: 2px;
    width: 50px;
    background: gray;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  .loginDivFormName:after{
    content:" ";
    height: 2px;
    width: 50px;
    background: gray;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }
  
.loginSwtichMode{
    /* margin-left: 25%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
   
}
.loginDivLogoBtnSubmit{
    width:70%;
    align-items: center;
    margin-bottom: .5rem;
   margin-left:.5rem ;
   color:purple ;
   background-color:purple;
}